* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color:#202024;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

header {
    background-color: #121214;
    display: flex;
    justify-content: space-between;
    padding: 40px;
}

strong {
    color: #C4C4CC;
}
h3{
    color: #C4C4CC;
}
p{
    color: #C4C4CC
}
.logo img {
    width: 117px;
    height: 25px;
    margin-top: 10px;
}



.card {
    
    height: 150px;
    width: 280px;
    background-color: #323238;
    border-radius: 0.5em;
    margin: 10px 6px;
    padding: 15px;
    box-shadow: #7C7C8A;
    
}




.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.text_entrada {
    display: flex;
}
.text_entrada{
    justify-content: space-between;
    color: #C4C4CC;
}
.info h3{
   margin-top: 10px;
    color: #E1E1E6;
}
.cards{
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-padding-left: 20px;
    display: grid;
    grid-auto-flow: column;
    margin: 24px 24px 5px 15px;
   
}
.transacoes{
display: flex;
justify-content: space-between;
align-items: flex-end;
margin: 10px 25px;

}
.filter{
    display: flex;
    justify-content: space-between;

}
.card_transicoes{
    /* margin: 5px 25px 10px; */
    border-radius: 6px;
    padding: 20px;
    gap: 12px;
    box-shadow: 0px 5px 15px rgba(48, 43, 43, 0.1);
    background-color: #323238;
}
.title_transicoes{
    display: flex;
    justify-content: space-between;
}
.title_transicoes p{
    margin-right: 24px;
}
.busca input{
height: 50px;
width: 80%;
/* margin: 0px 5px 10px 24px; */
border-radius: 6px;
box-shadow: 0px 5px 15px rgba(48, 43, 43, 0.1);
background-color: #121214;
color: #7C7C8A;
border:none
}

.busca button{
    height: 50px;
    width: 15%;
    background-color: #202024;
    border: none;
    border: 1px solid #00B37E;
    /* padding: 0 17px; */
    border-radius: 6px;
}
.informa{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.button_header button{
    padding: 0;
    margin: 0;
    background-color: #00875F; 
    color: white; 
    border: none; 
    padding: 8px, 16px, 8px, 16px;
    height:38px;
    width: 130px;
    border-radius: 6px;
    font-size: 14px;
}
.icon img{
height: 30px;
}
.card_transicoes p{
    margin-bottom: 10px;
}
.background{
    background-color: #ffffff;
}
.main{
    margin: 0 20px;
}
.main div{
    
    margin-top: 15px;
}
.red{
    color: #F75A68ed;
}
.green{
    color: #00875F;
}

.valor{
    font-size: 20px;
}

