* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color:#202024;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

header {
    background-color: #121214;
    display: flex;
    justify-content: space-between;
    padding: 35px;
}

strong {
    color: #C4C4CC;
}
h3{
    color: #C4C4CC;
}
p{
    color: #C4C4CC
}
.logo img {
    width: 120px;
    height: 26px;
    margin-top: 10px;
}


.card {
    
    height: 150px;
    width: 280px;
    background-color: #323238;
    border-radius: 0.5em;
    margin: 10px 6px;
    padding: 15px;
    box-shadow: #7C7C8A;
    
}




.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.text_entrada {
    display: flex;
}
.text_entrada{
    justify-content: space-between;
    color: #C4C4CC;
}
.info h3{
   margin-top: 10px;
    color: #E1E1E6;
}
.cards{
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-padding-left: 20px;
    display: grid;
    grid-auto-flow: column;
    margin: 0px 24px 5px 15px;
   
}
.transacoes{
display: flex;
justify-content: space-between;
align-items: flex-end;
margin: 10px 25px;
font-size: 18px;

}
.filter{
    display: flex;
    justify-content: space-between;

}
.card_transicoes{
    /* margin: 5px 25px 10px; */
    border-radius: 6px;
    padding: 20px;
    gap: 12px;
    box-shadow: 0px 5px 15px rgba(48, 43, 43, 0.1);
    background-color: #323238;
}
.title_transicoes{
    display: flex;
    justify-content: space-between;
}
.title_transicoes p{
    margin-right: 24px;
}
.busca input{
height: 50px;
width: 80%;
padding: 16px;
border-radius: 6px;
box-shadow: 0px 5px 15px rgba(48, 43, 43, 0.1);
background-color: #121214;
color: #7C7C8A;
border:none;
font-size: 16px;

}

.busca button{
    height: 50px;
    width: 15%;
    background-color: #202024;
    border: none;
    border: 1px solid #00B37E;
    padding: 16px;
    border-radius: 6px;
 
}

.informa{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    
}

.button_header button{
    padding: 0;
    margin: 0;
    background-color: #00875F; 
    color: white; 
    border: none; 
    padding: 8px, 16px, 8px, 16px;
    height:38px;
    width: 130px;
    border-radius: 6px;
    font-size: 14px;
}
.icon img{
height: 30px;
}
.card_transicoes p{
    margin-bottom: 10px;
    display: flex;
    gap: 5px;
}
.background{
    background-color: #ffffff;
}
.main{
    margin: 0 20px;
}
.main div{
    
    margin-top: 15px;
}
.red{
    color: #F75A68ed;
}
.green{
    color: #00875F;
}

.valor{
    font-size: 20px;
}
.home{
    background-image: linear-gradient( #121214 65%, #202024 35%);
} 
.paginacao{
    display: flex;
    justify-content: center;
    margin: 40px 0 60px 0;
    gap: 8px;
}
.paginacao button{
    height: 40px;
    width: 40px;
    border-radius: 6px;
    background-color: #323238;
    color: #8D8D99;
    border: none;
    font-size: 16px;
    line-height: 22.4px;
    padding: 5px;
}
.setas{
    display: flex ;
    align-items: center;
    color: #8D8D99;
}


@media only screen and (min-width: 900px) {
    header{
   
        padding: 40px 90px;
    }
    .logo img {
        width: 130px;
        height: 30px;
        margin-top: 10px;
    }
   
    .cards {
        display: flex;
        justify-content: center;
        gap: 15px;
        margin: 20px 50px;
        overflow-x: hidden;
    }
    .card{
        width: 30%;
    }
   .transacoes{
        display: none;
       }
    .main{
        margin: 10px 80px;
    }
    .busca input{
        height: 50px;
        width: 85%;
        padding: 16px;
        border-radius: 6px;
        box-shadow: 0px 5px 15px rgba(48, 43, 43, 0.1);
        background-color: #121214;
        color: #7C7C8A;
        border:none;
        font-size: 16px;
        
        }
        
        .busca button{
            height: 50px;
            width: 13%;
            background-color: #202024;
            border: none;
            border: 1px solid #00B37E;
            padding: 16px;
            border-radius: 6px;
         
        }    
}
