@import url('https://fonts.googleapis.com/css2?family=Crushed&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: 'Poppins';
}

.header-container {
    width: 100%;
   
}

.container {
    width: 400px;
    min-height: 250px;
    background-color: #ececec;
    margin: 0 auto;
    margin-top: 25px;
    border-radius: 10px;
    padding: 20px;
}

.inputs{
   display: grid;
    gap: 5px;
}

.inputs input{
    height: 30px;
    width: 400px;
    border-radius: 6px;
    border: none;
    padding: 5px;
    }

#btnAdd{
    margin-top: 10px;
}

.main {
    margin-top: 20px;
    display: flex;

}

.itens {
    display: flex;
    width: 100%;
    padding: 0 5px;
    justify-content: space-between;
    width: 100%;
    /* border: 1px solid #575656; */
    /* margin: 13px; */
    border-radius: 5px;
    background-color: white;
}

#lista {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.fechado{
    display: none;
}

.top{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 15px;
    
}